<html>
    <head>
    </head>
    <body>
        <div align="center">
        <p>This is an experiment project of mine.</p>
        {{=P(IMG(_src=URL(c='static', f='pics/loading.gif')))}}
        <p>{{=A('Download Ad-Aware today!',
        _href='http://www.lavasoft.com')}}</p>
        <!-- Google Adsense-->
        <script type="text/javascript"><!--
            google_ad_client = "ca-pub-5008995866388592";
            /* Antivirus heroes */
            google_ad_slot = "1293828282";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
        </script>
        </div>
        <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
        <!-- Google Analytics-->
        <script type="text/javascript">

              var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-19526391-2']);
                  _gaq.push(['_trackPageview']);

                    (function() {
                        var ga = document.createElement('script'); ga.type =
                        'text/javascript'; ga.async = true;
                            ga.src = ('https:' == document.location.protocol ?
                            'https://ssl' : 'http://www') +
                            '.google-analytics.com/ga.js';
                                var s =
                                document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(ga, s);
                                  })();

        </script>
        <!-- Facebook JS SDK -->
        <div id="fb-root"></div>
        <script>
              window.fbAsyncInit = function() {
                  FB.init({appId: '139729456078929', status: true, cookie: true,
                      logging : true, xfbml: true});
                  FB.getLoginStatus(function(response) {
                      //alert("your status: " + response.status);
                      //alert("your permissions: " + response.perms);
                      if (response.session) {
                          // logged in and connected user, someone you know
                          top.location.href = "{{=landing_url}}";
                          } else {
                          // no user session available, someone you dont know
                          //alert("I don't know you. Gonna let you in first.");
                          top.location.href = {{=login_url}};
                      }
                  });
                };
            (function() {
                var e = document.createElement('script'); 
                e.async = true;
                e.src = document.location.protocol +
                        '//connect.facebook.net/en_US/all.js';
                document.getElementById('fb-root').appendChild(e);                                                       }());
        </script>
    </body>
</html>
