<html>
    <head>
    </head>
    <body>
        <form name="quiz">
            <ol>
                <li><p>How did you win your "election"?</p>
                <input type="radio" name="q1" value="a1" checked>By holding free and fair elections where a policeman stands behind people in the voting booth and beat the shit out of them if they don't vote for me!<br/>
                <input type="radio" name="q1" value="a2">I lost my election, but luckily my public are too stupid to count!<br/>
                <input type="radio" name="q1" value="a3">By skilfully eliminating my opponents until there were no one else to vote for but me!<br/>
                <input type="radio" name="q1" value="a4">Test<br/>
                <input type="radio" name="q1" value="a5">Test<br/>
                <input type="radio" name="q1" value="a6">Test<br/>
                <input type="radio" name="q1" value="a7">Test<br/>
                </li>
                <li><p>Who are the handy scapegoats for why your country sucks?</p>
                <input type="radio" name="q1" value="a2">Test<br/>
                </li>
                <li><p>How do you whip up support or otherwise make yourself look good to your public?</p>
                </li>
                <li><p>What's you're preference on facial hair?</p>
                </li>
                <li><p>Have you ever written a best selling book?</p>
                </li>
                <li><p>Who are your "friends"?</p>
                </li>
                <li><p>Where do you live?</p>
                </li>
                <li><p>What is your weapon of choice?</p>
                </li>
                <li><p>What are your feelings on blatant propaganda?</p>
                </li>
                <li><p>What attire do you wear to address the public?</p>
                </li>
                <li><p>How much longer do you think you'll stay in power?</p>
                </li>
                <li><p>How do you get rid of "problematic" people?</p>
                </li>
            </ol>
        </form>
    </body>
</html>
