<html>
    <head>
    </head>
    <body>
        <form name="quiz" action="{{=URL(f='showResult')}}" method="post">
            <ol>
                <li><p>You are thirsty and want a drink, what will you do?</p>
                <input type="radio" name="q1" value="a1" checked>Grab a beer with the guys<br/>
                <input type="radio" name="q1" value="a2">Go get some O.J.<br/>
                <input type="radio" name="q1" value="a3">Don't have enough time to get a drink, too much work to do...<br/>
                <input type="radio" name="q1" value="a4">Make someone get you something.<br/>
                </li>
            </ol>
            <input type="submit">
        </form>
    </body>
</html>
