{{extend 'mylayout.html'}}
{{=DIV(B('You are %s.' % name), BR(),
IMG(_src=pic, _height=200), BR(),
P(description), _id='quiz_result')}}

{{=DIV(
H2('Quiz Result', _class='popup_title'),
DIV(
H2('You are %s.' % name),
P(IMG(_src=pic, _style='height: 40%; padding: 5px auto 5px auto;'), _style='text-align: center;'),
P(description), _class='popup_content'),
DIV(LABEL(INPUT(_value='Close', _type='button', _class='bClose'), _class='popup_control_button'), _class='popup_control'), 
_id='popup_info', _style='display:none;'
)}}
<script>
$(document).ready(function(){
    $("#popup_info").bPopup({fadeSpeed: 50, modalClose: false});
});
</script>
