{{response.files.insert(4, 'https://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools-yui-compressed.js')}}
{{response.files.insert(6, URL(request.application,'static','lightface/LightFace.js'))}}
{{response.files.insert(7, URL(request.application,'static','lightface/LightFace.Request.js'))}}
{{response.files.insert(8, URL(request.application,'static','lightface/LightFace.css'))}}
{{extend 'mylayout.html'}}

{{=DIV(B('You are %s.' % name), BR(),
IMG(_src=pic, _height=200), BR(),
P(description), _id='quiz_result')}}
<script>
    function PublishResultFunction() {
        box = new LightFace({
            title: 'Quiz Result',
            width: 480,
            height: 150,
            content: '{{=DIV(DIV(IMG(_src=pic), _id="result_picture"), DIV(P(B("You are %s" % name)), P(description), _id="result_text"), _id="result_wrapper")}}',
            buttons:[
                {
                    title: 'Publish',
                    event: function() {this.close();},
                    color: 'blue',
                },
                {
                    title: 'Skip',
                    event: function() {this.close();},
                }
            ]
        });
        box.open();
    }
    $(document).ready(function(){
        PublishResultFunction();
    });
</script>
