h1, h2, h3 {
font-family:"Droid Serif",Cambria,Georgia,Palatino,"Palatino Linotype","Myriad Pro",Serif; 
}
#popup_info {
background: white;
width: 450px;
/*padding: 1px;*/
}
#popup_info label input{
cursor:pointer;
color: white;
background: none;
font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
font-size: 1em;
font-weight: bold;
border: 0px outset buttonface;
display: inline-block;
margin: 0px;
padding: 1px 0px 2px;
text-align: center;
text-indent: 0px;
text-shadow: none;
white-space: nowrap;
}
#popup_info .popup_content {
font-family: Verdana;
font-size: 1em;
padding: 5px 10px;
}
#popup_info .popup_title {
font-size: 1.2em;
font-weight: bold;
background-color: #6d84b4;
border: 1px solid #3b5998;
color: white;
margin-bottom: 0px;
margin: -1px -1px 0px;
padding: 5px 10px;
}
#popup_info .popup_control {
display: block;
border-top: 1px solid #ccc;
background-color: #f2f2f2;
padding: 6px 10px;
text-align: right;
}
#popup_info .popup_control label {
background-position: 0px -48px;
background-image: url('pics/button.png');
border-color: #29447e #29447e #1a356e;
border-style: solid;
border-width: 1px;
display: inline-block;
line-height: normal !important;
}
