<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'en'}}">
  <head>
    <title>{{=response.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="ggF8UY35xTADWzPuCQ5C91G3zFf52T_E7FB9kGNaVgM" />
    <!-- include requires CSS files
    {{response.files.append(URL(request.application,'static','base.css'))}}
    {{response.files.append(URL(request.application,'static','mycss.css'))}}
    {{response.files.append(URL(request.application,'static','ez-plug-min.css'))}}
    {{response.files.append(URL(request.application,'static','jquery.bpopup-0.4.1.min.js'))}}
    -->
    {{include 'web2py_ajax.html'}}
    <script type="text/javascript">
      <!-- /* this adds sfhover class to menu li items to make IE6 work */ jQuery(document).ready(function(){jQuery('li.web2py-menu-expand').hover(function () {jQuery(this).addClass('sfhover');},function () {jQuery(this).removeClass('sfhover');});});//-->
    </script>
  </head>
  <body>
    <div class="flash">{{=response.flash or ''}}</div>
    <div class="ez-wr wrapper layout">
      <div class="ez-box header">
        <h2>
            {{=A(response.title or request.application, _href=URL(request.application,'default','index'))}}
        </h2>            
        <h3>{{=response.subtitle or ''}}</h3>
      </div>
      <!-- ez-css Module 2A -->
      <div class="ez-wr">
        <div class="ez-fl ez-negmr">
		</div>
		<div class="ez-last ez-oh">
		  <div class="ez-box expandable">
	            {{include}}
	      </div>
		</div>
      </div>
      <div id="Google Ads">
      	<!-- Google Adsense-->
        <script type="text/javascript"><!--
            google_ad_client = "ca-pub-5008995866388592";
            /* Antivirus heroes */
            google_ad_slot = "1293828282";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
        </script>
        <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
      </div>
      <div class="ez-box footer">
        <p>
          {{=T('Copyright')}} &#169; 2009 -
          {{=T('Powered by')}} <a href="http://www.web2py.com">web2py</a>
        </p>
      </div>
    </div>
    <!-- Google Analytics -->
    <script type="text/javascript">

          var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-19526391-3']);
              _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                              })();
    </script>
    <!-- Facebook JS SDK -->
    <div id="fb-root"></div>
    <script>
          window.fbAsyncInit = function() {
              FB.init({appId: '{{=client_id}}', status: true, cookie: true,
                  logging : true, xfbml: true});
              FB.Canvas.setSize();
            };
        (function() {
            var e = document.createElement('script'); 
            e.async = true;
            e.src = document.location.protocol +
                    '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
         }()
        );
	</script>
  </body>
</html>
