{{extend 'layout.html'}}
<table>
    <tr>
        <td>name</td>
        <td>pic</td>
        <td>description</td>
        <td>answer</td>
        <td>actions</td>
    <tr>
    {{for character in session.characters:}}
    {{=TR(TD(character['name']), 
    TD(IMG(_src=character['pic'], _height=100)), 
    TD(character['description'], _width=300), 
    TD(B(character['answer'])),
    TD(A('Modify', _href=URL(f='modifyRecord', args=[character['id']]))))}}
    {{pass}}
</table>
{{=form}}
Or {{=A('add new record', _href=URL('index'))}}
